VITE_API_URL=
VITE_VIDEO_PROBLEM=dQw4w9WgXcQ
VITE_VIDEO_SOLUTION=dQw4w9WgXcQ
VITE_VIDEO_RESULTS=dQw4w9WgXcQ
VITE_VIDEO_DEMO=dQw4w9WgXcQ
VITE_VIDEO_SAP_SETUP=dQw4w9WgXcQ
VITE_VIDEO_CPQ_SETUP=dQw4w9WgXcQ
